<div class="container mt-5" *ngIf="meData && available">
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <app-checkout-resume></app-checkout-resume>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Informacion de pago</h4>
            <hr>
            <form class="needs-validation"  (ngSubmit)="takeToken()" #forma="ngForm">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>Nombre</label><br>
                        <input type="text" class="form-control" id="firstName" placeholder="" [value]="meData.user.name"
                            required="" disabled>
                        <!-- <span>Julio</span> -->
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Apellido/s</label><br>
                        <input type="text" class="form-control" id="lastName" placeholder=""
                            [value]="meData.user.lastname" required="" disabled>
                        <!-- <span>Calderon Galindo</span> -->
                    </div>
                </div>

                <div class="mb-3">
                    <label>Email</label><br>
                    <!-- <span>juliocesar.calderong@gmail.com</span> -->
                    <input type="email" class="form-control" id="email" placeholder="" [value]="meData.user.email"
                        required="" disabled>
                </div>

                <div class="mb-3">
                    <label for="address">Direccion de entrega</label>
                    <textarea cols="50" rows="4" type="text" class="form-control" id="address"
                        #addressData="ngModel" [(ngModel)]="address" name="address" [ngClass]="{'is-valid': !addressData.invalid, 'is-invalid': addressData.invalid}" required=""></textarea>
                    <div class="invalid-feedback">
                        Por favor introduzca su direccion.
                    </div>
                </div>

                <h4 class="mb-3">Informacion de la tarjeta</h4>

                <div class="row">
                    <div class="col-lg mb-3">
                        <ng-stripe-pay-form [key]="key" [hidePostalCode]="true"></ng-stripe-pay-form>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="signup-btn" [disabled]="!forma.valid || block" (click)="takeToken()" type="submit" >Pagar Pedido</button>
            </form>
        </div>
    </div>
</div>