<div class="container">
    <div class="row">
        <div class="col-lg"></div>
        <div class="col-lg-6">
            <form (ngSubmit)="add()" #forma="ngForm">
                <h1>Activar usuario</h1>
                <p>Introduzca el password y verificalo antes de activar el usuario, Selecciona tu fecha de nacimiento</p>
                <label for="edad"><b>Fecha de nacimiento</b></label>
                <app-date-picker-legal-age (newDate)="dataAsing($event)"></app-date-picker-legal-age>
                <label for="password"><b>Contraseña</b></label>
                <input type="password" #password="ngModel" [(ngModel)]="values.password"
                    placeholder="Introduzca la contraseña" name="password" required class="form-control"
                    [ngClass]="{'is-valid':!password.invalid, 'is-invalid':password.invalid}" />
                <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.errors.required">
                        Ingrese una Contraseña por favor
                    </div>
                </div>
                <label for="passwordTwo"><b>Repetir Contraseña</b></label>
                <input type="password" #passwordTwo="ngModel" [(ngModel)]="values.passwordTwo"
                    placeholder="Repita la contraseña" name="passwordTwo" required class="form-control"
                    [ngClass]="{'is-valid':!passwordTwo.invalid, 'is-invalid':passwordTwo.invalid}" />
                <div class="alert alert-danger" *ngIf="passwordTwo.invalid && (passwordTwo.dirty || passwordTwo.touched)">
                    <div *ngIf="passwordTwo.errors.required">
                        Ingrese una Contraseña por favor
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg">
                        <button [disabled]="forma.invalid" type="submit" class="signup-btn">Activar usuario</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg"></div>
    </div>
</div>
